body {
	margin: 0;
	padding: 0;
}

.index-form-container {
	display: grid;
	grid-template-columns: 1fr 2fr;	
}

.form-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

footer {
	margin-top: 50%;
}

.card-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

@media only screen and (min-width: 1024px) {
	
	.grid-container {
		display: grid;
		grid-template-columns: auto auto 16px;
	}
	
	.table-container {
		display: grid;
		grid-template-columns: auto auto auto;
		column-gap: 2.5%;
	}
	
	.index-form-container {
		grid-template-columns: 1fr 3fr;
	}
	
	.form-container {
		grid-template-columns: 1fr 1fr;
	}
	
	.card-container {
		grid-template-columns: 2fr 1fr;
	}
}
